[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

body{
overflow-y: scroll;

    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    
}
.container{

}
.finalResult{
    font-size: 25px;
}
h4{margin-top: 0px;
}
h3{
	    margin-top: 10px;
    margin-bottom: 20px;
}

.glyphicon-ok{
	    color: #3c763d;
}
.glyphicon-remove{
	    color: #a94442;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width:100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  
}
@media screen and (min-width: 768px){
.footer{
    width: 750px;
}
}
@media screen and (min-width: 992px){
.footer {
    width: 970px;
}
}

@media screen and (min-width: 1200px){
.footer {
    width: 1170px;
}
}


