<div>
<h2>Περιγραφή εφαρμογής</h2>
<p>Εφαρμογή για εύκολη αναζήτηση και πλοήγηση στους Επιλέξιμους Κωδικούς Αριθμούς Δραστηριοτήτων (ΚΑΔ) των προγραμμάτων ΕΣΠΑ "Ενίσχυση της αυτοαπασχόλησης πτυχιούχων τριτοβάθμιας εκπαίδευσης", "Ενίσχυση τουριστικών μικρομεσαίων επιχειρήσεων (ΜΜΕ) για τον εκσυγχρονισμό τους και την ποιοτική αναβάθμιση των παρεχόμενων υπηρεσιών", "Νεοφυής Επιχειρηματικότητα" και "Αναβάθμιση πολύ μικρών & μικρών υφιστάμενων επιχειρήσεων με την ανάπτυξη των ικανοτήτων τους στις νέες αγορές".</p>
<p>
<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> - Κάντε καθαρισμό των πεδίων
 Αναζητήστε με βάση τα κριτήρια που θέλετε. Τα δεδομένα ανανεώνονται αυτόματα κάθε φορά που εισάγετε ένα νέο κριτήριο. 
 
 Μπορείτε ακόμα να κάνετε αλφαβητική ταξινόμηση με βάση ένα πεδίο πατώντας πάνω στο τίτλο του. 
 
 Μπορείτε να δείτε περισσότερα αποτελέσματα αν πατήσετε τα κουμπιά
 
 </p>
 
 <p>Fork on github </p>

</div>