<form ng-controller="mikromesaiesCtrl">
<h3>A.Κατάσταση Επιχείρησης(Βαρύτητα ομάδας κριτηρίου 40%)</h3>

<div class="row">
  <div class="col-xs-2">
    Υποκριτήριο
  </div>
  <div class="col-xs-8">
    Επεξήγηση κριτηρίου
  </div>
  <div class="col-xs-2">
    Συντελεστής στάθμισης κριτηρίου
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    Α.1 Συνάφεια Επενδυτικού Σχεδίου της Επιχείρησης με τη στρατηγική έξυπνης εξειδίκευσης RIS 3 της Περιφέρειας δραστηριοποίησης
  </div>
  <div class="col-xs-5">
    Εξετάζεται και αξιολογείται η συνάφεια του επενδυτικού σχεδίου της επιχείρησης με τις θεματικές προτεραιότητες της στρατηγικής έξυπνης εξειδίκευσης της Περιφέρειας στην οποία δρασηριοποιείται η επιχείρηση. Σημειώνεται ότι οι κλάδοι δραστηριοποίησης(ΚΑΔ)του Χονδρικού Εμπορίου βαθμολογούνται με 0. 
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Συνάφεια επενδυτικού σχεδίου</label>
  <select class="form-control" id="kathgoria">
    <option>Ναι</option>
    <option>Όχι</option>
	</select>
</div>
  </div>
   <div class="col-xs-2">
    10%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.2 Αγορές-στόχοι της Επιχείρησης
  </div>
  <div class="col-xs-5">
    Αξιολογείται η εξωστρέφεια της επιχείρισης (με βάση τα φορολογικά της στοιχεία).
	Μέσος όρος τριετίας/διετίας για όσες έχουν δύο κλεισμένες χρήσεις. 
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Εξωστρέφεια επιχείρησης</label>
  <select class="form-control" id="kathgoria">
    <option>Πωλήσεις Εξωτερικού>=15%</option>
    <option>0<Πωλήσεις εξωτερικού<15%</option>
	<option>Πωλήσεις εσωτερικού=100%</option>
	<option>Δεν προσδιορίζεται</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    15%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.3 Μεταβολές στην απασχόληση
  </div>
  <div class="col-xs-5">
    Αξιολογείται η συμβολή της επιχείρησης στην απασχόληση(ΕΜΕ).
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Μεταβολή απασχόλησης</label>
  <select class="form-control" id="kathgoria">
    <option>Αύξηση της απασχόλησης </option>
    <option>Σταθερή απασχόληση</option>
	<option>Μείωση απασχόλησης</option>
	

  </select>
</div>
  </div>
   <div class="col-xs-2">
    15%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.4 Μέση αύξηση ΚΕ τελευταίας τριετίας
  </div>
  <div class="col-xs-5">
    Αξιολογείται η μέση αύξηση του κύκλου εργασιών (ΚΕ)της επιχείρησης σε σχέση με τις επιδόσεις του κλάδου, στον οποίο δρασηριοποιείται και επιθυμεί να επενδύσει, κατά την τελευταία τριετία (με τιμή βάσης το 2012)
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Μεταβολή ΚΕ</label>
  <select class="form-control" id="kathgoria">
    <option>Μέση μεταβολή ΚΕ επιχείρησης μεγαλύτερη από τη μέση μεταβολή του κλάδου</option>
		<option>Μέση μεταβολή ΚΕ επιχείρησης ίδια με τη μέση μεταβολή του κλάδου</option>
    <option>Μέση μεταβολή ΚΕ επιχείρησης μικρότερη από τη μέση μεταβολή του κλάδου</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    15%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.5 Επενδυτική πολιτική
  </div>
  <div class="col-xs-5">
    Αξιολογείται το ύψος της ιδιωτικής συμμετοχής που διέθεσε η επιχείριση για τη χρηματοδότηση του επενδυτικού της προγράμματος την τελευταία πενταετία σε σχέση με τον κύκλο εργασιών (ΚΕ) στην ίδια πενταετία. Στην περίπτωση των επιχειρήσεων με χρόνο δραστηριοποίησης μικρότερης των 5 ετών, συμπληρώνονται αντίστοιχα
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Ιδιωτική συμμετοχή</label>
  <select class="form-control" id="kathgoria">
    <option>Ιδιωτική συμμετοχή>25%ΚΕ</option>
    <option>15%<Ιδιωτική συμμετοχή<=25%ΚΕ</option>
	<option>10%<Ιδιωτική συμμετοχή<=15%ΚΕ</option>
	<option>2%<Ιδιωτική συμμετοχή<=10%ΚΕ</option>
	<option>Ιδιωτική συμμετοχή<2%ΚΕ</option>
	

  </select>
</div>
  </div>
   <div class="col-xs-2">
    10%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.6 Η επιχείρηση διαθέτει κατοχυρωμένο Δίπλωμα Ευρεσιτεχνίας
  </div>
  <div class="col-xs-5">
    Εξετάζεται η ύπαρξη ή μη κατοχυρωμένου διπλώματος ευρεσιτεχνίας(πατέντα).
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Είδος πατέντας</label>
  <select class="form-control" id="kathgoria">
    <option>Διεθνής πατέντα</option>
    <option>Ευρωπαϊκή πατέντα</option>
	<option>Εθνική πατέντα</option>
	<option>Πατέντα υπό έκδοση</option>
	<option>Δεν διαθέτει</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    10%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.7 Οργάνωση της επιχείρησης Ειδικές παροχές επιχείρησης
  </div>
  <div class="col-xs-5">
    Αξιολογείται η υφιστάμενη οργάνωση της επιχείρησης εφόσον τεκμηριώνεται από τα δικαιολογητικά της επιχείρισης(βιβλίο παγίων, πιστοποιήσεις συστημάτων ποιότητας και προϊόντων, ιστοσελίδα κ.α.)
	Για κάθε βαθμολογούμενο στοιχείο που διαθέτει η επιχείρηση ο ανώτατος βαθμός είναι 1. 
	Επομένως ανώτατος βαθμός που μπορεί να λάβει στο υποκριτήριο είναι 10
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Παροχές</label>
  <select class="form-control" id="kathgoria">
    <option>Συστήματα Διασφάλισης ποιότητας παραγωγικής διαδικασίας </option>
    <option>Εμπορικά Σήματα</option>
	<option>Βασικά Ηλεκτρονικά Συστήματα(τηλεφωνικό κέντρο, διαδίκτυο, Wi-Fi κ.α.)</option>
	<option>Εξειδικευμένα Λογισμικά (ERP, CRM, Logistics κ.α.)</option>
	<option>Ηλεκτρονικές πωλήσεις</option>
	<option>Αυτόματα συστήματα παραγγελιοληψίας</option>
	<option>Συστήματα αυτοματοποίησης για την παρακολούθηση και τον έλεγχο της "παραγωγικής" διαδικάσιας</option>
	<option>Οργανωμένη προβολή(σε επαγγελματικούς οδηγούς, μηχανές αναζήτησης)</option>
	<option>Άλλο</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    10%
  </div>
  
</div>

<div class="row">
  <div class="col-xs-2">
    Α.8 Διακρίσεις/Βραβεύσεις της Επιχείρησης σε Ευρωπαϊκούς και Διεθνείς διαγωνισμούς - υφιστάμενες
  </div>
  <div class="col-xs-5">
 Εξετάζεται αν η επιχείρηση έχει συμμετάσχει σε Ευρωπαϊκούς και Διεθνείς διαγωνισμούς που διοργανώθηκαν από κοινοτικό, εθνικό, διεθνή ή εμπορικό φορέα και έχει βραβευτεί ή διακριθεί σε κάποια κατηγορία
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Βράβευση</label>
  <select class="form-control" id="kathgoria">
    <option>Έχει βραβευτεί</option>
    <option>Απλή Συμμετοχή</option>
	<option>Δεν συμμετείχε και ούτε βραβεύτηκε</option>


  </select>
</div>
  </div>
   <div class="col-xs-2">
    15%
  </div>
  
</div>
<h3>Β.Επενδυτικό Σχέδιο(Βαρύτητα ομάδας κριτηρίου 40%)</h3>

<div class="row">
  <div class="col-xs-2">
    Υποκριτήριο
  </div>
  <div class="col-xs-8">
    Επεξήγηση κριτηρίου
  </div>
  <div class="col-xs-2">
    Συντελεστής στάθμισης κριτηρίου
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    Β.1 Περιγραφή του Επενδυτικού Σχεδίου
  </div>
  <div class="col-xs-5">
Παρουσίασ του Επενδυτικού Σχεδίου - Παραγόμενα Προϊόντα/Υπηρεσίες - Αγορά Στόχος
</br>
Εξετάζεται και αξιολογείται η σαφήνεια και πληρότητα της περιγραφής του επενδυτικού σχεδίου
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Περιγραφή</label>
  <select class="form-control" id="kathgoria">
    <option>Πολύ καλή</option>
    <option>Καλή</option>
	<option>Ανεπαρκής</option>


  </select>
</div>
  </div>
   <div class="col-xs-2">
    20%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Β.2 Αντικείμενο επενδυτικού σχεδίου
  </div>
  <div class="col-xs-5">
   Βαθμολογείται η στόχευση του επενδυτικού σχεδίου. 
   <br>
   Ανώτατος βαθμός που μπορεί να λάβει στο υποκριτήριο είναι 10
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Στόχευση</label>
  <select class="form-control" id="kathgoria">
    <option>Επέκταση της επιχείρησης σε νέα/ες δραστηριότητες ή νέα προϊόντα </option>
    <option>Αύξηση της παραγωγικής δυναμικότητας της επιχείρησης</option>
	<option>Βελτίωση του περιβαλλοντικού αποτυπώματος της επιχείρησης/Εξοικονόμηση ενέργειας</option>
	<option>Λειτουργικός εκσυγχρονισμός/Αναβάθμιση μηχανολογικού εξοπλισμού/Αναβάθμιση κτιριακής υποδομής</option>
	<option>Αναβάθμιση ποιότητας παραγόμενου προϊόντος</option>


  </select>
</div>
  </div>
   <div class="col-xs-2">
    20%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
   Β.3 Προβλέψεις Εσόδων - Εξόδων της επιχείρησης
  </div>
  <div class="col-xs-5">
Εξετάζεται η τεκμηρίωση των δαπανών που προβλέπονται στο επενδυτικό σχέδιο καθώς και οι προβλέψεις των οικονομικών της επιχείρησης για την περίοδο υλοποίησης του επενδυτικού σχεδίου καθώς και για τρία έτη από την ολοκλήρωσή του
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Τεκμηρίωση</label>
  <select class="form-control" id="kathgoria">
    <option>Πλήρης τεκμηρίωση </option>
    <option>Μερική τεκμηρίωση</option>
	<option>Ανεπαρκής τεκμηρίωση</option>
	

  </select>
</div>
  </div>
   <div class="col-xs-2">
    20%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Β.4 Ολοκληρωμένος χαρακτήρας της επένδυσης
  </div>
  <div class="col-xs-5">
    Εξετάζεται ο ολοκληρωμένος ή μη χαρακτήρας της επένδυσης
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Ολοκλήρωση επένδυσης</label>
  <select class="form-control" id="kathgoria">
    <option>ΠΛήρης και λειτουργική επένδυση</option>
    <option>Μερικώς ολοκληρωμένη και λειτουργική</option>
	<option>Μη ολοκληρωμένη επένδυση και μη λειτουργική</option>
	<option>Δεν τεκμηριώνεται</option>


  </select>
</div>
  </div>
   <div class="col-xs-2">
    10%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Β.5 Βαθμός πρωτοτυπίας επενδυτικού σχεδίου
  </div>
  <div class="col-xs-5">
Εφόσον το επενδυτικό σχέδιο στοχεύει την παραγωγή νέου προϊόντος/υπηρεσίας, εξετάζεται και βαθμολογείται ο βαθμός πρωτοτυπίας του νέου προϊόντος/υπηρεσίας σε σχέση με τα ήδη διαθέσιμα στην αγορα. 
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Βαθμός πρωτοτυπίας</label>
  <select class="form-control" id="kathgoria">
    <option>Νέο προϊόν/υπηρεσία(πατέντα)στη διεθνή/ευρωπαϊκή αγορά</option>
    <option>Νεο προϊόν/υπηρεσία για την Ελληνική Αγορά</option>
	<option>Διαφοροποιημένο προϊόν/υπηρεσία</option>
	<option>Εισαγωγή καινοτομίας στην παραγωγική διαδικασία</option>
	<option>Δεν προσδιορίζεται προϊόν/Υπηρεσία</option>
	

  </select>
</div>
  </div>
   <div class="col-xs-2">
    20%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
   Β.6 Ενέργειες προώθησης προϊόντος/υπηρεσίας
  </div>
  <div class="col-xs-5">
Αξιολογούνται οι σχεδιαζόμενες ενέργειες προώθησης, οι πρακτικές και πολιτικές marketing της επιχείρησης (π.χ. προώθηση, διαφήμιση, δημόσιες σχέσεις)
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Ενέργειες προώθησης</label>
  <select class="form-control" id="kathgoria">
    <option>Στοχευμένες </option>
    <option>Επαρκείς</option>
	<option>Δεν τεκμηριώνονται</option>


  </select>
</div>
  </div>
   <div class="col-xs-2">
    10%
  </div>
  
</div>
<h3>Γ.Ωριμότητα επενδυτικού σχεδίου(Βαρύτητα ομάδας κριτηρίου 20%)</h3>

<div class="row">
  <div class="col-xs-2">
    Υποκριτήριο
  </div>
  <div class="col-xs-8">
    Επεξήγηση κριτηρίου
  </div>
  <div class="col-xs-2">
    Συντελεστής στάθμισης κριτηρίου
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    Γ.1 Χρονοδιάγραμμα υλοποίησης του επιχειρηματικού σχεδίου
  </div>
  <div class="col-xs-5">
   Εξετάζεται η ρεαλιστικότητα και το εφικτό του χρονοδιαγράμματος υλοποίησης του επιχειρηματικού σχεδίου
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Εφικτότητα</label>
  <select class="form-control" id="kathgoria">
    <option>Εφικτό</option>
    <option>Οριακά εφικτό</option>
	<option>Ανέφικτο</option>
	<option>Δεν τεκμηριώνεται</option>



  </select>
</div>
  </div>
   <div class="col-xs-2">
    30%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
  Γ.2 Απαιτήσεις Αδειοδότησης
  </div>
  <div class="col-xs-5">
Εξετάζονται οι άδειες που απαιτούνται για την έναρξη της υλοποίησης του επιχειρηματικού σχεδίου
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Άδειες</label>
  <select class="form-control" id="kathgoria">
    <option>Δεν απαιτείται καμιά άδεια/Υπάρχουν όλες οι άδειες</option>
    <option>Απαιτείται άδεια εγκατάστασης ή/και οικοδομική άδεια</option>
	<option>Δεν τεκμηριώνεται</option>
	

  </select>
</div>
  </div>
   <div class="col-xs-2">
    20%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Γ.3 Προοπτικές πωλήσεων των προϊόντων/υπηρεσιών του επενδυτικού σχεδίου
  </div>
  <div class="col-xs-5">
  Εξετάζεται η ύπαρξη Συμφωνητικών ή και προσυμφώνων πώλησης με πελάτες, δίκτυα διανομής, αντιπροσώπους,άλλους για τα νέα προϊόντα/υπηρεσίες
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Συμφωνίες</label>
  <select class="form-control" id="kathgoria">
    <option>Συμβάσεις με συνεργάτες/πελάτες</option>
    <option>MoUs και Lols</option>
	<option>Κανένα από τα προηγούμενα</option>
	<option>Δεν τεκμηριώνεται/δεν εφαρμόζεται</option>


  </select>
</div>
  </div>
   <div class="col-xs-2">
    50%
  </div>
  
</div>
Η ανώτατη βαθμολογία που μπορεί να λάβει ένα επενδυτικό σχέδιο είναι 100 βαθμοί και προκύπτει ως εξής Σ=[(Αx40%)+(Βx40%)+(Γx20%)]x10
</form>
