<form ng-controller="neofueisCtrl">
<h2>I. ΤΥΠΙΚΕΣ ΠΡΟΫΠΟΘΕΣΕΙΣ ΣΥΜΜΕΤΟΧΗΣ (κριτήρια αποκλεισμού)</h2>


<div class="row">
  <div class="col-xs-12">
  <div class="form-group">
  <label for="kathgoria">Κατηγορία Δικαιούχου</label>
  <select class="form-control" id="kathgoria">
    <option>Κατηγορία Δικαιούχων - Α (Άνεργοι)</option>
    <option>Κατηγορία Δικαιούχων - Β (Ασκούντες επαγγελματική δραστηριότητα)</option>
  </select>
</div>
  </div>
  
</div>

<div class="row">
  <div class="col-xs-1">
    Α/Α
  </div>
  <div class="col-xs-9">
    ΥΠΟΚΡΙΤΗΡΙΑ ΕΠΙΛΕΞΙΜΟΤΗΤΑΣ
  </div>
  <div class="col-xs-1">
    ΝΑΙ
  </div>
   <div class="col-xs-1">
    ΟΧΙ
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Ι.2.1
  </div>
  <div class="col-xs-9">
    Ιδιότητα ανέργου κατά την υποβολή του επιχειρηματικού
σχεδίου
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Ι.2.1
  </div>
  <div class="col-xs-9">
  Ατομικοί επιχειρηματίες παροχής υπηρεσιών οι οποίοι είναι
ενεργοί επιτηδευματίες χωρίς να έχουν σχέση μισθωτής
εργασίας και δε λαμβάνουν σύνταξη γήρατος κατά την
ημερομηνία δημοσίευσης της πρόσκλησης.
Δεν είναι επιλέξιμοι οι ατομικοί επιχειρηματίες που ασκούν
εμπορική δραστηριότητα. Για τους σκοπούς της παρούσης και
στις περιπτώσεις ατομικών επιχειρηματιών με μικτή
δραστηριότητα δεν θεωρείται ότι ασκείται εμπορική
δραστηριότητα εφόσον τα δηλούμενα εξ’ αυτής ακαθάριστα
έσοδα αντιπροσωπεύουν έως και το 25% των συνολικών
ακαθαρίστων εσόδων από επιχειρηματική
δραστηριότητα (αποκλειόμενης της αγροτικής δραστηριότητας
– φορολογικό έτος 2015).
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Ι.2.2
  </div>
  <div class="col-xs-9">
  Επιλεξιμότητα ΚΑΔ της υπό σύσταση επιχείρησης
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Ι.2.3
  </div>
  <div class="col-xs-9">
  Να μην έχουν ενταχθεί σε συγχρηματοδοτούμενα
προγράμματα, με την ιδιότητα του ατομικού
επιχειρηματία/επιτηδευματία ή του εταίρου σε
επιχορηγούμενη εταιρεία, από την 1/1/2012 μέχρι και την
ημερομηνία υποβολής της αίτησης χρηματοδότησης πλην
προγραμμάτων κατάρτισης. Εφόσον το επιχειρηματικό τους
σχέδιο ενταχθεί στο πλαίσιο της παρούσας πρόσκλησης, να
προσκομίσουν υπεύθυνη δήλωση ότι δεν έχουν ενταχθεί σε
άλλα προγράμματα από την ημερομηνία υποβολής της
αίτησης χρηματοδότησης μέχρι και την ημερομηνία ένταξής
τους ή/και έγγραφη παραίτησή τους από αίτηση
χρηματοδότησής τους από άλλο Ε.Π., εφόσον αυτή
βρίσκεται σε φάση αξιολόγησης. Η αίτηση θα φέρει
σφραγίδα γνωστοποίησης από την οικεία Διαχειριστική Αρχή
του Ε.Π. ή τον αρμόδιο ΕΦ.
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Ι.2.4
  </div>
  <div class="col-xs-9">
  Μη ύπαρξη συζυγικής ή συγγενικής σχέσης 1ου και 2ου
βαθμού μεταξύ των εταίρων, κατά την υποβολή του
επιχειρηματικού σχεδίου.
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<hr>
<h2>II. ΤΗΡΗΣΗ ΕΘΝΙΚΩΝ ΚΑΙ ΕΝΩΣΙΑΚΩΝ ΚΑΝΟΝΩΝ (κριτήρια αποκλεισμού)</h2>
<div class="row">

  <div class="col-xs-1">
   II.1
  </div>
  <div class="col-xs-9">
Τήρηση των εθνικών και ενωσιακών κανόνων για τη δημοσιότητα, την
πληροφόρηση και τη διάχυση των αποτελεσμάτων 
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>
<div class="row">

  <div class="col-xs-1">
   II.2
  </div>
  <div class="col-xs-9">
Τήρηση των εθνικών και ενωσιακών κανόνων που αφορούν κρατικές ενισχύσεις.
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>
<div class="row">

  <div class="col-xs-1">
   II.3
  </div>
  <div class="col-xs-9">
Τήρηση των κατευθυντηρίων αρχών που προβλέπονται από τους Κανονισμούς
και αφορούν στην προώθηση της ισότητας μεταξύ ανδρών και γυναικών και της μη
διάκρισης και της προσβασιμότητας για τα ΑμεΑ
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>
<hr>
<h2>Γ. ΒΑΘΜΟΛΟΓΟΥΜΕΝΑ ΚΡΙΤΗΡΙΑ</h2>
<h3>Α. Επιχειρηματικό Σχέδιο (Συντελεστής βαρύτητας: 25%)</h3>

<div class="row">

  <div class="col-xs-1">
   A.1
  </div>
  <div class="col-xs-9">
Περιγραφή του Επιχειρηματικού Σχεδίου
<p>
  </div>
  <div class="col-xs-2">
20%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Παρουσίαση του Επιχειρηματικού Σχεδίου –Ανάλυση της Επιχειρηματικής Ιδέας-
Παραγόμενα Προϊόντα /Υπηρεσίες– Αγορά Στόχος.
Εξετάζεται και αξιολογείται η σαφήνεια και πληρότητα της περιγραφής του
επιχειρηματικού σχεδίου.
(Στο κριτήριο αυτό χρησιμοποιείται ελεύθερα εύρος τιμών από τον Αξιολογητή όλη η
κλίμακα (1 έως 10) και όχι προκαθορισμένες τιμές).

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Επιλέξτε Βαθμολογία</label>
  <select class="form-control" ng-model="selectA1" ng-change="changeA1(selectA1)">
    <option>Πολύ Καλή</option>
    <option>Καλή</option>
	<option>Ανεπαρκής</option>
  </select>
</div>
  </div>

  
</div>


<div class="row">

  <div class="col-xs-1">
   A.2
  </div>
  <div class="col-xs-9">
Συνάφεια του επιχειρηματικού σχεδίου με τη στρατηγική έξυπνης εξειδίκευσης
της Περιφέρειας δραστηριοποίησης
<p>
  </div>
  <div class="col-xs-2">
25%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται και αξιολογείται η συνάφεια του επιχειρηματικού σχεδίου της νεοφυούς
επιχείρησης με τις θεματικές προτεραιότητες της στρατηγικής έξυπνης εξειδίκευσης της
Περιφέρειας στην οποία σχεδιάζεται να εγκατασταθεί και να δραστηριοποιηθεί η
επιχείρηση.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Ύπαρξη Συνάφειας</label>
  <select class="form-control" ng-model="selectA2" ng-change="changeA2">
    <option>Υπάρχει συνάφεια</option>
    <option>Δεν υπάρχει συνάφεια</option>
  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   A.3
  </div>
  <div class="col-xs-9">
Βαθμός πρωτοτυπίας
<p>
  </div>
  <div class="col-xs-2">
25%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται και βαθμολογείται ο βαθμός πρωτοτυπίας του προϊόντος/υπηρεσίας σε σχέση
με τα ήδη διαθέσιμα στην αγορά.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Βαθμός Πρωτοτυπίας</label>
  <select class="form-control" ng-model="selectA3" ng-change="changeA3">
    <option>Νέο προϊόν/υπηρεσία</option>
    <option>Διαφοροποιημένο προϊόν/υπηρεσία</option>
	<option>Υφιστάμενο προϊόν/υπηρεσία</option>
	<option>Δεν προσδιορίζεται προϊόν/υπηρεσία</option>
  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   A.4
  </div>
  <div class="col-xs-9">
Κατάσταση της αγοράς του κλάδου δραστηριοποίησης
<p>
  </div>
  <div class="col-xs-2">
5%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται και βαθμολογείται η κατάσταση της αγοράς του κλάδου που θα
δραστηριοποιηθεί.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Κατάσταση αγοράς</label>
  <select class="form-control" ng-model="selectA4" ng-change="changeA4">
    <option>Νέα δυναμική αγορά</option>
    <option>Αναπτυσσόμενη αγορά με αυξανόμενη ζήτηση</option>
	<option>Νέα εξειδικευμένη περιορισμένη αγορά</option>
	<option>Ώριμη αγορά με σταθερή ζήτηση & σημαντικό
μερίδιο εισαγωγών</option>
<option>Ώριμη αγορά με σταθερή ζήτηση</option>
<option>Φθίνουσα αγορά με μειούμενη ζήτηση</option>
<option>Δεν τεκμηριώνεται</option>
  </select>
</div>
  </div>

  
</div>


<div class="row">

  <div class="col-xs-1">
   A.5
  </div>
  <div class="col-xs-9">
Στοιχεία Ανταγωνιστικότητας Προϊόντος/Υπηρεσίας
<p>
  </div>
  <div class="col-xs-2">
10%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Αξιολογείται το παραγόμενο προϊόν/υπηρεσία ως προς την ανταγωνιστικότητά του με
κριτήρια την τιμή και την ποιότητα με βάση την τεκμηρίωση.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Ανταγωνιστικότητα</label>
  <select class="form-control" ng-model="selectA5" ng-change="changeA5">
    <option>Ανταγωνιστικό ως προς τον συνδυασμό τιμής -
ποιότητας</option>
    <option>Ανταγωνιστικό ως προς την ποιότητα</option>
	<option>Ανταγωνιστικό ως προς την τιμή</option>
	<option>Δεν τεκμηριώνεται/κανένα</option>

  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   A.6
  </div>
  <div class="col-xs-9">
Ολοκληρωμένος χαρακτήρας της επένδυσης
<p>
  </div>
  <div class="col-xs-2">
10%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται ο ολοκληρωμένος ή μη χαρακτήρας της προτεινόμενης επένδυσης.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Χαρακτήρας</label>
  <select class="form-control" ng-model="selectA6" ng-change="changeA6">
    <option>Πλήρης και λειτουργική επένδυση</option>
    <option>Μερικώς ολοκληρωμένη και λειτουργική</option>
	<option>Μη ολοκληρωμένη επένδυση και μη λειτουργική</option>
	<option>Δεν τεκμηριώνεται</option>

  </select>
</div>
  </div>

  
</div>


<div class="row">

  <div class="col-xs-1">
   A.7
  </div>
  <div class="col-xs-9">
Ενέργειες Προώθησης προϊόντος/υπηρεσίας
<p>
  </div>
  <div class="col-xs-2">
5%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Αξιολογούνται οι σχεδιαζόμενες ενέργειες προώθησης, οι πρακτικές και πολιτικές
marketing της επιχείρησης (π.χ. προώθηση, διαφήμιση, δημόσιες σχέσεις)

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Ενέργειες προώθησης</label>
  <select class="form-control" ng-model="selectA7" ng-change="changeA7">
    <option>Στοχευμένες</option>
    <option>Επαρκείς</option>
	<option>Δεν τεκμηριώνονται</option>

  </select>
</div>
  </div>

  
</div>
<h3>Β. Ωριμότητα Επιχειρηματικού Σχεδίου. (Συντελεστής: 15%)</h3>
<div class="row">

  <div class="col-xs-1">
   B.1
  </div>
  <div class="col-xs-9">
Χρονοδιάγραμμα ανάπτυξης παραγωγικής εγκατάστασης
προϊόντος/υπηρεσίας
<p>
  </div>
  <div class="col-xs-2">
30%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται η εφικτότητα υλοποίησης του έργου εντός του Χρονοδιαγράμματος και όχι
πέραν της διετίας, λαμβάνοντας υπόψη το βαθμό ωριμότητας του και την
πολυπλοκότητά των ενεργειών.
  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Εφικτότητα</label>
  <select class="form-control" ng-model="selectB1" ng-change="changeB1">
    <option>Εφικτό</option>
    <option>Οριακά εφικτό</option>
	<option>Ανέφικτο/Δεν τεκμηριώνεται</option>

  </select>
</div>
  </div>

  
</div>


<div class="row">

  <div class="col-xs-1">
   Β.2
  </div>
  <div class="col-xs-9">
Απαιτήσεις Αδειοδότησης
<p>
  </div>
  <div class="col-xs-2">
20%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζονται οι άδειες που απαιτούνται για την έναρξη υλοποίησης του επιχειρηματικού
σχεδίου

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Αδειοδότηση</label>
  <select class="form-control" ng-model="selectB2" ng-change="changeB1">
    <option>Δεν απαιτείται καμιά άδεια</option>
    <option>Απαιτείται άδεια εγκατάστασης ή/και
περιβαλλοντική
ή/και οικοδομική άδεια</option>
	<option>Δεν τεκμηριώνονται</option>

  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   Β.3
  </div>
  <div class="col-xs-9">
Προοπτικές πωλήσεων των προϊόντων/υπηρεσιών του επιχειρηματικού
σχεδίου
<p>
  </div>
  <div class="col-xs-2">
50%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται η ύπαρξη Συμφωνητικών ή και Προσυμφώνων πώλησης με υπεργολάβους,
πελάτες, δίκτυα διανομής, αντιπροσώπους, λοιπές στρατηγικές συμμαχίες.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Προοπτικές πωλήσεων</label>
  <select class="form-control" ng-model="selectB3" ng-change="changeB3">
    <option>Συμβάσεις με συνεργάτες/ πελάτες</option>
    <option>MoUs και Lols:</option>
	<option>Κανένα από τα προηγούμενα</option>
<option>Δεν τεκμηριώνεται</option>	

  </select>
</div>
  </div>

  
</div>
<h3>Γ. Καινοτομία Επιχειρηματικού Σχεδίου. (Συντελεστής: 25%)</h3>
<div class="row">

  <div class="col-xs-1">
   Γ.1
  </div>
  <div class="col-xs-9">
Ο εταίρος/οι εταίροι διαθέτει κατοχυρωμένο Δίπλωμα Ευρεσιτεχνίας
<p>
  </div>
  <div class="col-xs-2">
30%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται η ύπαρξη ή μη κατοχυρωμένου διπλώματος ευρεσιτεχνίας (πατέντα)/
αναγνωρισμένου τίτλου βιομηχανικής ή πνευματικής ιδιοκτησίας

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Δίπλωμα</label>
  <select class="form-control" ng-model="selectG1" ng-change="changeG1">
    <option>Ευρωπαϊκή ή τρίτης χώρας</option>
    <option>Εθνική</option>
	<option>Πατέντα υπό έκδοση</option>
		<option>Δεν διαθέτει</option>

  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   Γ.2
  </div>
  <div class="col-xs-9">
Διάκριση προϊόντος ή υπηρεσίας του επιχειρηματικού σχεδίου σε διαγωνισμού
Καινοτομίας
<p>
  </div>
  <div class="col-xs-2">
30%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζονται οι αιτήσεις/συμμετοχές και διακρίσεις του εταίρου/ων. προϊόντος/υπηρεσίας
σε διαγωνισμούς καινοτομίας

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Διακρίσεις</label>
  <select class="form-control" ng-model="selectG2" ng-change="changeG2">
    <option>Έχει διακριθεί (1ο/2ο/3ο βραβείο)</option>
    <option>Απλή συμμετοχή</option>
	<option>Κανένα εκ των ανωτέρω</option>

  </select>
</div>
  </div>

  
</div>
<div class="row">

  <div class="col-xs-1">
   Γ.3
  </div>
  <div class="col-xs-9">
Διασφάλιση διευκολύνσεων της επιχείρησης από οργανωμένες επιχειρηματικές
δομές φιλοξενίας
<p>
  </div>
  <div class="col-xs-2">
10%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται αν ο εταίρος/ οι εταίροι της υπό σύσταση επιχείρησης πριν την ημερομηνία
δημοσίευσης της προκήρυξης έχει λάβει έγκριση από οργανωμένες επιχειρηματικές δομές
για παροχή διευκολύνσεων όπως φιλοξενία/στέγαση, παροχή συμβουλευτικών
υπηρεσιών υποστήριξης.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Διευκολύνσεις</label>
  <select class="form-control" ng-model="selectG3" ng-change="changeG3">
    <option>Ο εταίρος/ οι εταίροι της επιχείρησης έχει/έχουν
λάβει έγκριση για συμμετοχή σε επιχειρηματικές
δομές όπως τεχνολογικά πάρκα, τεχνοκυψέλες,
θερμοκοιτίδες, προθερμοκοιτίδες</option>
    <option>Ο εταίρος/ οι εταίροι της επιχείρησης
δεν έχει/δεν έχουν λάβει έγκριση για
συμμετοχή σε επιχειρηματικές δομές όπως
τεχνολογικά
πάρκα, τεχνοκυψέλες, θερμοκοιτίδες,
προθερμοκοιτίδες</option>
	

  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   Γ.4
  </div>
  <div class="col-xs-9">
Επίπεδο Ωριμότητας Καινοτόμου Προϊόντος /Υπηρεσίας
<p>
  </div>
  <div class="col-xs-2">
30%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται το επίπεδο ωριμότητας του καινοτόμου προϊόντος/υπηρεσίας από το βασικό
θεωρητικό σχεδιασμό μέχρι και την ετοιμότητα παραγωγής ή παροχής.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Επίπεδο ωριμότητας</label>
  <select class="form-control" ng-model="selectG4" ng-change="changeG4">
    <option>Προϊόν/Υπηρεσία έτοιμο για παραγωγή ή παροχή</option>
    <option>Ώριμος σχεδιασμός προϊόντος ή υπηρεσίας</option>
	<option>Επιτυχής πειραματική επίδειξη προϊόντος ή
υπηρεσίας</option>
<option>Βασικός θεωρητικός σχεδιασμός προϊόντος ή
υπηρεσίας</option>
<option>Δεν τεκμηριώνεται</option>

  </select>
</div>
  </div>

  
</div>

<h3> Δ. Βιωσιμότητα Νεοφυούς Επιχείρησης (Συντελεστής: 10%)</h3>
<div class="row">

  <div class="col-xs-1">
   Δ.1
  </div>
  <div class="col-xs-9">
Βεβαιώσεις εκδήλωσης ενδιαφέροντος από venture capitals ή πρόθεσης
δανειοδότησης από Τράπεζες.
<p>
  </div>
  <div class="col-xs-2">
30%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Προσκομίζονται και εξετάζονται βεβαιώσεις εκδήλωσης ενδιαφέροντος από VCs για
χρηματοδότηση της επένδυσης ή βεβαιώσεις έγκρισης δανειοδότησης από Τράπεζες.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Εκδήλωση ενδιαφέροντος</label>
  <select class="form-control" ng-model="selectD1" ng-change="changeD1">
    <option>Εκδήλωση ενδιαφέροντος από VCs</option>
    <option>Πρόθεση δανειοδότησης από Τράπεζες</option>
	<option>Διαφορετικά</option>

  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   Δ.2
  </div>
  <div class="col-xs-9">
Προβλέψεις Εσόδων- Εξόδων της επιχείρησης
<p>
  </div>
  <div class="col-xs-2">
70%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζονται η τεκμηρίωση των δαπανών που προβλέπονται στο επιχειρηματικό σχέδιο
καθώς και οι προβλέψεις των οικονομικών της επιχείρησης (έσοδα- έξοδα) για την περίοδο
υλοποίησης του επιχειρηματικού σχεδίου καθώς και για τρία έτη από την ολοκλήρωσή του.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Τεκμηρίωση</label>
  <select class="form-control" ng-model="selectD2" ng-change="changeD2">
    <option>Πλήρης τεκμηρίωση</option>
    <option>Μερική τεκμηρίωση</option>
	<option>Μικρή τεκμηρίωση</option>

  </select>
</div>
  </div>

  
</div>

<h3>Ε. Χαρακτηριστικά Εταίρων. (Συντελεστής: 25%)</h3>
<div class="row">

  <div class="col-xs-1">
   E.1
  </div>
  <div class="col-xs-9">
Τίτλοι Σπουδών Εταίρου/ων
<p>
  </div>
  <div class="col-xs-2">
15%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Βαθμολογούνται οι δηλωθέντες τίτλοι σπουδών του/ων εταίρου/ων.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Τίτλος σπουδών</label>
  <select class="form-control" ng-model="selectE1" ng-change="changeE1">
    <option>Ύπαρξη μεταδευτεροβάθμιου/τριτοβάθμιου
τίτλου σπουδών</option>
    <option>Δεν διαθέτει</option>
	

  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   Ε.2
  </div>
  <div class="col-xs-9">
Συνάφεια Τίτλου Σπουδών με το επιχειρηματικό σχέδιο
<p>
  </div>
  <div class="col-xs-2">
25%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται και βαθμολογείται η τυχόν συνάφεια των σπουδών του εταίρου/εταίρων με την
οικονομική δραστηριότητα της επιχείρησης.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Συνάφεια σπουδών</label>
  <select class="form-control" ng-model="selectE2" ng-change="changeE2">
    <option>Ναι</option>
    <option>Όχι</option>
 </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   Ε.3
  </div>
  <div class="col-xs-9">
Επαγγελματική Εμπειρία Εταίρου/ Εταίρων
<p>
  </div>
  <div class="col-xs-2">
10%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται και βαθμολογείται η συνολική επαγγελματική εμπειρία του εταίρου/των εταίρων
κατά την υποβολή της αίτησης χρηματοδότησης.

  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Επαγγελματική εμπειρία</label>
  <select class="form-control" ng-model="selectE3" ng-change="changeE3">
    <option>Εμπειρία> 5 ετών</option>
    <option>Εμπειρία 0-5 ετών</option>
	

  </select>
</div>
  </div>

  
</div>

<div class="row">

  <div class="col-xs-1">
   Ε.4
  </div>
  <div class="col-xs-9">
Εταιρική Σύνθεση
<p>
  </div>
  <div class="col-xs-2">
50%
  </div>  
</div>

<div class="row">

  <div class="col-xs-1">
 
  </div>
  <div class="col-xs-9">
Εξετάζεται και βαθμολογείται η εταιρική σύνθεση ως προς την κάλυψη όλου του εύρους του
αντικειμένου του επιχειρηματικού σχεδίου.
  </div>
  <div class="col-xs-2">
<div class="form-group">
  <label for="kathgoria">Εταιρική σύνθεση</label>
  <select class="form-control" ng-model="selectE4" ng-change="changeE4">
    <option>Ένωση εταίρων με συμπληρωματικές
ειδικεύσεις/δεξιότητες</option>
    <option>Ένωση εταίρων με την ίδια
ειδίκευση/δεξιότητα</option>
	<option>Ένας μοναδικός εταίρος</option>

  </select>
</div>
  </div>

  
</div>

Σε περίπτωση δημιουργίας εταιρικού σχήματος:
α) Η βαθμολογία του κριτηρίου E: ΧΑΡΑΚΤΗΡΙΣΤΙΚΑ ΕΤΑΙΡΩΝ θα προκύπτει από τον σταθμικό μέσο όρο της βαθμολογίας των
εταίρων, υπολογιζόμενο ανάλογα με το ποσοστό συμμετοχής τους στο εταιρικό σχήμα.
Όλες οι αιτήσεις χρηματοδότησης, που βάσει των παραπάνω κριτηρίων και συντελεστών συγκεντρώνουν βαθμολογία από πενήντα (50,0)
και άνω, μετά την εφαρμογή ανάλογων ομάδων κριτηρίων είναι κατ’ αρχήν επιλέξιμες μέχρι εξαντλήσεως του προϋπολογισμού.
 Βαθμολογία κριτηρίων σε κλίμακα 100 βαθμών
Αφού αποδοθούν τιμές στα κριτήρια σύμφωνα με τους ανωτέρω πίνακες διαμορφώνεται ως εξής η βαθμολόγηση των κριτηρίων:
Βαθμολογία κριτηρίου Α = {(Α.1*20%)+(Α.2*25%)+(Α.3*25%)+(Α.4*5%)+(Α.5*10%)+(Α.6*10)+(Α.7*5%)}*10
Βαθμολογία κριτηρίου Β = {(Β.1*30%) + (Β.2*20%) + (Β.3*50%)}*10
Βαθμολογία κριτηρίου Γ = {(Γ.1*30%) + (Γ.2*30%) + (Γ.3*10%) + (Γ.4*30%)}*10
Βαθμολογία κριτηρίου Δ = {(Δ.1*30%)+(Δ.2*70%)}*10
Βαθμολογία κριτηρίου Ε = {(Ε.1*15%) + (Ε.2*25%) + (Ε.3*10%) + (Ε.4*50%)}*10
ΣΥΝΟΛΙΚΗ ΒΑΘΜΟΛΟΓΙΑ = ΚΡΙΤΗΡΙΟ Α*25% + ΚΡΙΤΗΡΙΟ Β*15% + ΚΡΙΤΗΡΙΟ Γ*25% + ΚΡΙΤΗΡΙΟ Δ*10% + ΚΡΙΤΗΡΙΟ
Ε*25%
</form>