<form ng-controller="ptuxiouxoiCtrl">
<h2>Α. ΤΥΠΙΚΕΣ ΠΡΟΫΠΟΘΕΣΕΙΣ ΣΥΜΜΕΤΟΧΗΣ (κριτήρια αποκλεισμού)</h2>
<div class="row">
  <div class="col-xs-1">
    Α/Α
  </div>
  <div class="col-xs-9">
    ΥΠΟΚΡΙΤΗΡΙΑ ΕΠΙΛΕΞΙΜΟΤΗΤΑΣ
  </div>
  <div class="col-xs-1">
    ΝΑΙ
  </div>
   <div class="col-xs-1">
    ΟΧΙ
  </div>
  
</div>
<div class="row">
  <div class="col-xs-12">
  <div class="form-group">
  <label for="kathgoria">Κατηγορία Δικαιούχου</label>
  <select ng-model="kathgoriaDikaiouxou" class="form-control" id="kathgoria">
    <option>Κατηγορία Δικαιούχων - Α (Άνεργοι)</option>
    <option>Κατηγορία Δικαιούχων - Β (Αυτοαπασχολούμενοι)</option>
  </select>
</div>
  </div>
  
</div>
<div>

<h3>Υποκριτήρια Επιλεξιμότητας</h3>
<div ng-show="kathgoriaDikaiouxou=='Κατηγορία Δικαιούχων - Α (Άνεργοι)'" class="row">

  <div class="col-xs-1">
    Α.Α.2.1
  </div>
  <div class="col-xs-9">
    Ιδιότητα ανέργου κατά την υποβολή του επιχειρηματικού
σχεδίου
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>
<div ng-show="kathgoriaDikaiouxou=='Κατηγορία Δικαιούχων - Β (Ασκούντες επαγγελματική δραστηριότητα)'" class="row">

  <div class="col-xs-1">
    Α.Α.2.1
  </div>
  <div class="col-xs-9">
    Φυσικά πρόσωπα που ασκούν επιχειρηματική
δραστηριότητα χωρίς να έχουν σχέση μισθωτής εργασίας
και να μη λαμβάνουν σύνταξη γήρατος κατά την
ημερομηνία δημοσίευσης της Πρόσκλησης
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
   Α.Α.2.2
  </div>
  <div class="col-xs-9">
  Κάτοχος τίτλου σπουδών ΑΕΙ/ΤΕΙ
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Α.Α.2.3
  </div>
  <div class="col-xs-9">
  Συνάφεια ΚΑΔ με τίτλο σπουδών
(πτυχίου/μεταπτυχιακού/διδακτορικού διπλώματος)
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Α.Α.2.4
  </div>
  <div class="col-xs-9">
  Επιλεξιμότητα ΚΑΔ της υπό σύσταση επιχείρησης
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
   Α.Α.2.5
  </div>
  <div class="col-xs-9">
  Εμπίπτει στα εισοδηματικά κριτήρια
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Α.Α.2.6
  </div>
  <div class="col-xs-9">
  Μη ένταξη σε συγχρηματοδοτούμενα προγράμματα με την
ιδιότητα του ατομικού επιχειρηματία/επιτηδευματία ή του
εταίρου σε επιχορηγούμενη εταιρεία, από την 1/1/2012
μέχρι και την ημερομηνία υποβολής της αίτησης
χρηματοδότησης, πλην των προγραμμάτων κατάρτισης.
Εφόσον το επιχειρηματικό σχέδιο ενταχθεί στο πλαίσιο της
παρούσας πρόσκλησης, να προσκομίσουν υπεύθυνη
δήλωση ότι δεν έχουν ενταχθεί σε άλλα προγράμματα από
την ημερομηνία υποβολής της αίτησης χρηματοδότησης
μέχρι και την ημερομηνία ένταξής τους ή έγγραφη
παραίτησή τους από αίτηση χρηματοδότησής τους από
άλλο Ε.Π., εφόσον αυτή βρίσκεται σε φάση αξιολόγησης.
Η αίτηση θα φέρει σφραγίδα γνωστοποίησης από την
οικεία Διαχειριστική Αρχή του Ε.Π. ή τον αρμόδιο ΕΦ
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>

<div class="row">

  <div class="col-xs-1">
    Α.Α.2.7
  </div>
  <div class="col-xs-9">
Μη ύπαρξη συζυγικής ή συγγενικής σχέσης 1ου και 2ου
βαθμού μεταξύ των εταίρων, κατά την υποβολή του
επιχειρηματικού σχεδίου.
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>
<hr>
<h2>Β. ΤΗΡΗΣΗ ΕΘΝΙΚΩΝ ΚΑΙ ΕΝΩΣΙΑΚΩΝ ΚΑΝΟΝΩΝ (κριτήρια αποκλεισμού)</h2>
<div class="row">

  <div class="col-xs-1">
   B1
  </div>
  <div class="col-xs-9">
Τήρηση των εθνικών και ενωσιακών κανόνων για τη δημοσιότητα, την
πληροφόρηση και τη διάχυση των αποτελεσμάτων 
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>
<div class="row">

  <div class="col-xs-1">
   B2
  </div>
  <div class="col-xs-9">
Τήρηση των εθνικών και ενωσιακών κανόνων που αφορούν κρατικές ενισχύσεις.
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>
<div class="row">

  <div class="col-xs-1">
   B3
  </div>
  <div class="col-xs-9">
Τήρηση των κατευθυντηρίων αρχών που προβλέπονται από τους Κανονισμούς
και αφορούν στην προώθηση της ισότητας μεταξύ ανδρών και γυναικών και της μη
διάκρισης και της προσβασιμότητας για τα ΑμεΑ
  </div>
  <div class="col-xs-1">
   <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
   <div class="col-xs-1">
    <label class="radio-inline"><input type="radio" name="optradio"></label>
  </div>
  
</div>
<hr>
<h2>Γ. ΒΑΘΜΟΛΟΓΟΥΜΕΝΑ ΚΡΙΤΗΡΙΑ</h2>
<h3>Α. ΕΙΣΟΔΗΜΑΤΙΚΑ ΚΡΙΤΗΡΙΑ ΔΥΝΗΤΙΚΩΝ ΔΙΚΑΙΟΥΧΩΝ (Συντελεστής βαρύτητας: 35%)</h3>
<div class="row">
  <div class="col-xs-1">
    Α/Α
  </div>
  <div class="col-xs-2">
    Κριτήριο
  </div>
  <div class="col-xs-5">
    Περιγραφή
  </div>
   <div class="col-xs-1">
    Σχετική βαρύτητα
  </div>
   <div class="col-xs-3">
    Βαθμολόγηση
  </div>
  
</div>
<div class="row">
  <div class="col-xs-12">
  <div class="form-group">
  <label for="kathgoria">Τύπος Εισοδήματος</label>
  <select ng-model="kathgoriaEisodhmatos" class="form-control" >
    <option>Ατομικό Εισόδημα</option>
    <option>Οικογενειακό Εισόδημα</option>
  </select>
</div>
  </div>
  
</div>
<div class="row" ng-show="kathgoriaEisodhmatos=='Ατομικό Εισόδημα'">
  <div class="col-xs-1">
    Α1
  </div>
  <div class="col-xs-2">
    Ατομικό Εισόδημα
  </div>
  <div class="col-xs-5">
    Εξετάζεται το ατομικό εισόδημα του εταίρου/ εταίρων
στην περίπτωση που οι συμμετέχοντες στο εταιρικό
κεφάλαιο αυτής δεν υποβάλουν κοινή με άλλους
Φορολογική Δήλωση.
  </div>
   <div class="col-xs-1">
   100%
  </div>
   <div class="col-xs-3">
    Εισόδημα:<input type="text" class="form-control">
  </div>
  
</div>
<div class="row" ng-show="kathgoriaEisodhmatos=='Οικογενειακό Εισόδημα'">
  <div class="col-xs-1">
    Α1
  </div>
  <div class="col-xs-2">
    Οικογενειακό Εισόδημα
  </div>
  <div class="col-xs-5">
  Εξετάζεται το οικογενειακό εισόδημα του εταίρου ή
εταίρων στην περίπτωση οι συμμετέχοντες στο
εταιρικό κεφάλαιο αυτής υποβάλουν κοινή με άλλους
Φορολογική Δήλωση.
  </div>
   <div class="col-xs-1">
   100%
  </div>
   <div class="col-xs-3">
    Εισόδημα:<input type="text" class="form-control">
  </div>
  
</div>
<h3>Β.ΚΑΤΑΣΤΑΣΗ ΕΠΙΧΕΙΡΗΜΑΤΙΚΟΥ ΣΧΕΔΙΟΥ (Ε.Σ.) (Συντελεστής βαρύτητας: 25%)</h3>
<div class="row">
  <div class="col-xs-1">
    Β1
  </div>
  <div class="col-xs-2">
    Σαφήνεια και
πληρότητα του
Επιχειρηματικού
Σχεδίου
  </div>
  <div class="col-xs-5">
    Παρουσίαση του Επιχειρηματικού Σχεδίου –
Παραγόμενα Προϊόντα /Υπηρεσίες – Αγορά Στόχος.
Εξετάζεται και αξιολογείται η σαφήνεια και
πληρότητα της περιγραφής του επιχειρηματικού
σχεδίου
  </div>
   <div class="col-xs-1">
   40%
  </div>
   <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Επιλέξτε Βαθμολογία</label>
  <select class="form-control" id="kathgoria">
    <option>Πολύ Καλή:8-10</option>
    <option>Καλή:5-7</option>
	<option>Ανεπαρκής:0-4</option>
  </select>
</div>
  </div>
  
</div>
<div class="row">
  <div class="col-xs-1">
    Β2
  </div>
  <div class="col-xs-2">
Προβλέψεις
Εσόδων - Εξόδων
της επιχείρησης
  </div>
  <div class="col-xs-5">
    Εξετάζονται η τεκμηρίωση των δαπανών που
προβλέπονται στο επιχειρηματικό σχέδιο καθώς και
οι προβλέψεις των οικονομικών της επιχείρησης
(έσοδα- έξοδα) για την περίοδο υλοποίησης του
επιχειρηματικού σχεδίου καθώς και για τρία έτη
από την ολοκλήρωσή του
  </div>
   <div class="col-xs-1">
   60%
  </div>
   <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Επιλέξτε Βαθμολογία</label>
  <select class="form-control" id="kathgoria">
    <option>Πολύ ικανοποιητικές:10</option>
    <option>Ικανοποιητικές:6</option>
	<option>Ανεπαρκείς:0</option>
  </select>
</div>
  </div>
  
</div>
<h3>Γ. ΧΑΡΑΚΤΗΡΙΣΤΙΚΑ ΕΤΑΙΡΟΥ/ΩΝ (Συντελεστής βαρύτητας: 40%)</h3>
<div class="row">
  <div class="col-xs-1">
    Γ1
  </div>
  <div class="col-xs-2">
Διάρκεια
ανεργίας/
έναρξης
επιχείρησης
  </div>
  <div class="col-xs-5">
   Εξετάζονται η χρονική διάρκεια ανεργίας στην
περίπτωση του ανέργου εταίρου. Επισημαίνεται ότι στον υπολογισμό
του χρόνου ανεργίας, λαμβάνεται υπόψη η
καταληκτική ημερομηνία υποβολής των
αιτήσεων χρηματοδότησης, ανεξαρτήτως του
υποβολής τους.
Εξετάζεται η έναρξη επιχειρηματικής δραστηριότητας
στην περίπτωση του αυτοαπασχολούμενου.

  </div>
   <div class="col-xs-1">
   80%
  </div>
   <div class="col-xs-3">
   <div ng-show="kathgoriaDikaiouxou=='Κατηγορία Δικαιούχων - Α (Άνεργοι)'">
  Ανεργία σε μήνες:<input type="text" class="form-control">
  </div>
     <div ng-show="kathgoriaDikaiouxou=='Κατηγορία Δικαιούχων - Β (Ασκούντες επαγγελματική δραστηριότητα)'" class="form-group">
  <label for="kathgoria">Έναρξη Επιχείρησης</label>
  <select class="form-control" id="kathgoria">
    <option>Μετά τη 1.1.2011:10</option>
    <option>Πριν τη 1.1.2011:4</option>
	
  </select>
</div>
  
  </div>
  
</div>

<div class="row">
  <div class="col-xs-1">
    Γ2
  </div>
  <div class="col-xs-2">
Σύνθεση Εταιρικής Ομάδας
  </div>
  <div class="col-xs-5">
  Εξετάζεται η ύπαρξη ή μη τεκμηριωμένης
συνεργασίας των εταίρων ίδιας ή διαφορετικών
ειδικοτήτων
  </div>
   <div class="col-xs-1">
   20%
  </div>
   <div class="col-xs-3">

     <div class="form-group">
  <label for="kathgoria">Συνεργασία</label>
  <select class="form-control" id="kathgoria">
    <option>Ύπαρξη τεκμηριωμένης συνεργασίας μεταξύ
ανέργου και αυτοαπασχολούμενου ίδιας ή
συμπληρωματικών ειδικοτήτων:10</option>
    <option>Ύπαρξη συνεργασίας μεταξύ
αυτοαπασχολούμενων ίδιας ή συμπληρωματικών
ειδικοτήτων:10</option>
<option>Ύπαρξη Συνεργασίας μεταξύ ανέργων ίδιας ή
συμπληρωματικών ειδικοτήτων:10</option>
<option>Απουσία συνεργασίας ή ανεπάρκεια τεκμηρίωσης</option>
	
  </select>
</div>
  
  </div>
  
</div>
<div class="row">
<div class="col-xs-12">
<h2>Βαθμολογία κριτηρίων σε κλίμακα 100 βαθμών</h2>
<p>
Βαθμολογία κριτηρίων σε κλίμακα 100 βαθμών
Βαθμολογία κριτηρίου Α ={{A1}}*10=<strong>{{resultA()}}</strong></br>
Βαθμολογία κριτηρίου Β =(([{{minB1}}-{{maxB1}}]*40%)+({{B2}}*60%))*10=<strong>{{minResultB()}} - {{maxResultB()}}</strong></br>
Βαθμολογία κριτηρίου Γ =(({{G1}}*80%)+({{G2}}*20%))*10=<strong>{{resultG();}}</strong></br>

<span class="finalResult">ΣΥΝΟΛΙΚΗ ΒΑΘΜΟΛΟΓΙΑ = {{resultA()}}*35% + [{{minResultB()}}-{{maxResultB()}}]*25%+{{resultG()}}*40% +  = <strong>{{resultFinalMin()}} - {{resultFinalMax()}}</strong></span></br>

Σε περίπτωση δημιουργίας εταιρικού σχήματος η βαθμολογία του κριτηρίου A θα προκύπτει από τον σταθμικό μέσο όρο της βαθμολογίας των
εταίρων.


</p>
</div>
</div>

</form>