<form ng-controller="touristikesCtrl">
<h2>Βαθμολογούμενα κριτήρια</h2>
<div class="row">
  <div class="col-xs-12">
  <div class="form-group">
  <label for="kathgoria">Κατηγορία Δικαιούχου</label>
  <select class="form-control" id="kathgoria">
    <option>A1 - Υφιστάμενα καταλύματα</option>
    <option>Α2 - Νέα Καταλύματα</option>
	<option>Α2 - Υφιστάμενες λοιπές Τουριστικές Επιχειρήσεις</option>
  </select>
</div>
  </div>
  
</div>

<h3>A.Κατάσταση Επιχείρησης(Βαρύτητα ομάδας κριτηρίου 30%)</h3>

<div class="row">
  <div class="col-xs-2">
    Υποκριτήριο
  </div>
  <div class="col-xs-8">
    Επεξήγηση κριτηρίου
  </div>
  <div class="col-xs-2">
    Συντελεστής στάθμισης κριτηρίου
  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    Α.1 Ειδικές παροχές επιχείρησης
  </div>
  <div class="col-xs-5">
    Εξετάζοντοι οι παρεχόμενες από της επιχείρηση υπηρεσίες(facilities)
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Παροχές</label>
  <select class="form-control" id="kathgoria">
    <option>Παροχή πρωινού/γευμάτων με βιολογικά - τοπικά προϊόντα </option>
    <option>Δραστηριότητες αναψυχής που αξιοποιούν το φυσικό κεφάλαιο/πλούτο της περιοχής</option>
	<option>Δραστηριότητες αναψυχής που αξιοποιούντο πολιτιστικό κεφάλαιο/πλούτο της περιοχής</option>
	<option>Άλλο(προσδιορίστε)</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    15%
  </div>
  
</div>

<div class="row">
  <div class="col-xs-2">
    Α.2 Μέση απασχόληση τελευταίας τριετίας/διετίας(για όσες έχουν 2 κλεισμένες χρήσεις)
  </div>
  <div class="col-xs-5">
    Αξιολογείται η συμβολή της επιχείρησης στην απασχόληση. Αύξηση ή μείωση αριθμού εργαζομένων κατά τη τελευταία τριετία (με τιμή βάσης το 2012)
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Απασχόληση</label>
  <select class="form-control" id="kathgoria">
    <option>Αύξηση της απασχόλησης</option>
    <option>Σταθερή απασχόληση</option>
	<option>Μείωση απασχόλησης</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    15%
  </div>
  
</div>

<div class="row">
  <div class="col-xs-2">
    Α.3 Μέση μεταβολή κύκλου εργασιών την τελευταία τριετία
  </div>
  <div class="col-xs-5">
  Αξιολογείται η μεταβολή του κύκλου εργασιών της επιχείρησης της τελευταίας τριετίας (με τιμή βάσης το 2012)
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Μεταβολή κύκλου εργασιών</label>
  <select class="form-control" id="kathgoria">
    <option>Μέση αύξηση ΚΕ τριετίας >25% </option>
    <option>0<=Μέση αύξηση ΚΕ τριετίας<=25%</option>
	<option>Μέση μείωση ΚΕ τριετίας</option>


  </select>
</div>
  </div>
   <div class="col-xs-2">
    10%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.4 Μέση πληρότητα τελευταίας τριετίας
  </div>
  <div class="col-xs-5">
    Αξιολογείται η μέση πληρότητα της επιχείρησης την τελευταία τριετία
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Μέση πληρότητα τριετίας</label>
  <select class="form-control" id="kathgoria">
    <option>Μέση πληρότητα τριετίας>65% </option>
    <option>Μέση πληρότητα τριετίας<=65%</option>
	

  </select>
</div>
  </div>
   <div class="col-xs-2">
    10%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.5 Λειτουργική περίοδος τελευταίου έτους
  </div>
  <div class="col-xs-5">
    Αξιολογείται η διάρκεια της λειτουργικής περιόδου της επιχείρησης το τελευταίο έτος
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Μήνες λειτουργίας</label>
  <select class="form-control" id="kathgoria">
    <option>Μήνες λειτουργίας τελευταίου έτους>4 </option>
    <option>Μήνες λειτουργίας τελευταίου έτους<=4</option>
	

  </select>
</div>
  </div>
   <div class="col-xs-2">
    20%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Α.6 Πολιτική πωλήσεων και επικοινωνιακή πολιτική
  </div>
  <div class="col-xs-5">
    Αξιολογείται η πολιτική τοποθέτησης της επιχείρησης στην τουριστική αγορά και η επικοινωνιακή της πολιτική. (πακέτα παροχών ανά αγορά-στόχο, τρόποι προσέγγισης/πρόωθησης του "προϊόντος" της επιχείρηση - άμεση πώληση, αντιπρόσωπο, διαδίκτυο,στρατηγικές συμμαχίες κλπ, καθώς και τα μέσα προβολής που χρησιμοποιεί. Η βαθμολογία μπορεί να αθροιστεί με μέγιστο βαθμό 10.)
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Πολιτικές τοποθέτησης</label>
  <select class="form-control" id="kathgoria">
    <option>Συμβάσεις με Tour Operators</option>
    <option>Στρατηγικές συμμαχίες</option>
	<option>Προβολή σε εξειδικευμένες μηχανές αναζήτησης</option>
	<option>Δυνατότητα κρατήσεων μέσω ιστοσελίδας</option>
	<option>Ιστοσελίδα</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    15%
  </div>
  
</div>

<div class="row">
  <div class="col-xs-2">
    Α.7 Επενδυτική πολιτική
  </div>
  <div class="col-xs-5">
    Αξιολογείται το ύψος της ιδιωτικής συμμετοχής της επιχείρησης για τη χρηματοδότηση επενδύσεων την τελευταία πενταετία σε σχέση με τον ΚΕ στην ίδια πενταετία
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Ιδιωτική συμμετοχή</label>
  <select class="form-control" id="kathgoria">
    <option>Ιδιωτική συμμετοχή επενδύσεων>=35%ΚΕ</option>
    <option>25%<Ιδιωτική συμμετοχή επενδύσεων<=25%ΚΕ</option>
	<option>15%<Ιδιωτική συμμετοχή επενδύσεων<=25%ΚΕ</option>
	<option>5%<Ιδιωτική συμμετοχή επενδύσεων<=15%ΚΕ</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    15%
  </div>
  
</div>

<h3>A.Κατάσταση Επιχείρησης(Βαρύτητα ομάδας κριτηρίου 30%)</h3>
<div class="row">
  <div class="col-xs-2">
    Υποκριτήριο
  </div>
  <div class="col-xs-8">
    Επεξήγηση κριτηρίου
  </div>
  <div class="col-xs-2">
    Συντελεστής στάθμισης κριτηρίου
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    Β.1 Περιγραφή του Επενδυτικού Σχεδίου
  </div>
  <div class="col-xs-5">
    Παρουσίαση του Επενδυτικού Σχεδίου. Περιγραφή των επιμέρους επενδυτικών δαπανών, την ανάγκη που καλύπτουν και τον επιδιωκόμενο στόχο. 
	Εξετάζεται και αξιολογείται η σαφήνεια και πληρότητα της περιγραφής του επενδυτικού σχεδίου. 
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Παρουσίαση επενδυτικού σχεδίου</label>
  <select class="form-control" id="kathgoria">
    <option>Πολύ καλή </option>
    <option>Καλή</option>
	<option>Ανεπαρκής</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    30%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Β.2 Αντικείμενο επενδυτικού σχεδίου
  </div>
  <div class="col-xs-5">
    Βαθμολογείται η στόχευση του επενδυτικού σχεδίου. Η βαθμολογία μπορεί να αθροιστεί με μέγιστη βαθμό 10. 
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Στόχευση σχεδίου</label>
  <select class="form-control" id="kathgoria">
    <option>Εμπλουτισμός τουριστικού "προϊόντος" επιχείρησης</option>
    <option>Επέκταση της λειτουργικής περιόδου</option>
	<option>Εκσυγχρονισμός/επέκταση κτιριακής υποδομής</option>
	<option>Βελτίωση του περιβαλλοντικού αποτυπώματος της επιχείρησης</option>
	<option>Λειτουργικός εκσυγχρονισμός</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    35%
  </div>
  
</div>
<div class="row">
  <div class="col-xs-2">
    Β.3 Προβλέψεις Εσόδων-Εξόδων της επιχείρησης
  </div>
  <div class="col-xs-5">
    Εξετάζοντοι η τεκμηρίωση των δαπανών που προβλέπονται στο επενδυτικό σχέδιο καθώς και οι προβλέψεις των οικονομικών της επιχείρησης(έσοδα-έξοδα) για την περίοδο υλοποίησης του επενδυτικού σχεδίου καθώς και για τρία έτη από την ολοκλήρωσή του. 
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Τεκμηρίωση δαπανών΄</label>
  <select class="form-control" id="kathgoria">
    <option>Πλήρης τεκμηρίωση</option>
    <option>Μερική τεκμηρίωση</option>
	<option>Ανεπαρκής τεκμηρίωση</option>


  </select>
</div>
  </div>
   <div class="col-xs-2">
    35%
  </div>
  
</div>
<h3>Γ.Ωριμότητα επενδυτικού σχεδίου(Βαρύτητα ομάδας κριτηρίου 35%)</h3>
<div class="row">
  <div class="col-xs-2">
    Υποκριτήριο
  </div>
  <div class="col-xs-8">
    Επεξήγηση κριτηρίου
  </div>
  <div class="col-xs-2">
    Συντελεστής στάθμισης κριτηρίου
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    Γ.1 Χρονοδιάγραμμα υλοποίησης του επιχειρηματικού σχεδίου
  </div>
  <div class="col-xs-5">
  Εξετάζεται η εφικτότητα του χρονοδιαγράμματος λαμβανομένης υπόψη της ωριμότητα και της πολυπλοκότητας του επενδυτικού σχεδίου. 
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Εφικτότητα</label>
  <select class="form-control" id="kathgoria">
    <option>Εφικτό</option>
    <option>Οριακά εφικτό</option>
	<option>Ανέφικτο</option>
	<option>Δεν τεκμηριώνεται</option>

  </select>
</div>
  </div>
   <div class="col-xs-2">
    50%
  </div>
  
</div>

<div class="row">
  <div class="col-xs-2">
    Γ.2 Απαιτήσεις Αδειοδότησης
  </div>
  <div class="col-xs-5">
    Εξετάζοντοι οι άδειες που απαιτούνται για την έναρξη υλοποίησης της επένδυσης
  </div>
  <div class="col-xs-3">
    <div class="form-group">
  <label for="kathgoria">Άδειες</label>
  <select class="form-control" id="kathgoria">
    <option>Δεν απαιτείται καμιά άδεια/Υπάρχουν όλες οι άδειες</option>
    <option>Απαιτείται άδεια εγκατάσταση η/και περιβαλλοντική ή/και οικοδομική άδεια</option>
	<option>Δεν τεκμηριώνεται</option>
	

  </select>
</div>
  </div>
   <div class="col-xs-2">
    50%
  </div>
  
</div>

Η ανώτατη βαθμολογία που μπορεί να λάβει ένα επενδυτικό σχέδιο είναι 100 βαθμοί και προκύπτει ως εξής: Σ=[(Αx30%)+(Bx35%)+(Bx35%)]x10
</form>